h1{
   color: blueviolet;
   text-align: center;
   background-color: burlywood;
   
}

div {
    background-color: cornsilk;
    color: #D9534F;

}

.image {
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
    

